.container {
width: 400px;
margin: 0 auto;
background-color:#499c99;
}

h1 {
text-align: center;
}

input[type="text"] {
width: 80%;
padding: 10px;
margin-bottom: 10px;
}

button {
padding: 10px;
}

ul {
list-style-type: none;
}

li {
margin-bottom: 5px;
}

.completed {
text-decoration: line-through;
}